.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 128px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #fafafa;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  border-radius: 5px;

  &:active {
    background-color: var(--input);
  }
}
